# Package Files #
*.jar
*.war
*.ear

*~
*.class
*.orig
target/*
.settings/*
.metadata/*
resources/application.properties
/target
application.properties
nb-configuration.xml
/**/glassfish-web.xml
/**/glassfish-resources.xml
/bin/
*.snap